# MSG91 public widget configuration
NEXT_PUBLIC_MSG91_WIDGET_ID=
NEXT_PUBLIC_MSG91_TOKEN_AUTH=

# Supabase Edge Function base URL
NEXT_PUBLIC_SUPABASE_FUNCTION_URL=https://tzzzltezvwxrqgthglsu.supabase.co/functions/v1
